.header {
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 0;
    padding: 0;
    max-height: 52px;
    max-width: 1280px;
}

@media (max-width: 1023px) {
    .header {
        margin: 28px 24px 0;
    }
}

@media (max-width: 767px) {
    .header {
        margin: 16px 16px 0;
    }
}