.lead__title {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    margin: 56px auto 32px;
    padding: 0;
    max-width: 720px;
}

