.cover {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  min-width: calc(100% - (48px * 2));
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin: 0 48px;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  }
  
  @media (max-width: 1279px) {
    .cover {
      max-width: 1024px;
      min-height: 640px;
      min-width: 100%;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 1023px) {
    .cover {
      min-height: 480px;
      max-width: 768px;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 767px) {
    .cover {
      min-height: 200px;
      max-width: 320px;
      margin: 0;
    }
  }