.place {
    margin: 0 auto 80px;
    padding: 0;
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 48px;
}